<div class="content">
  <section class="thefirst">
    <span>Hello</span>
  </section>
  <section class="thesec">
    <span>How have you been?</span>
  </section>
</div>
<div class="nav-guide">
  <div class="toggle-slide default">
  	<span class="toggle-slide-slide default"></span>
  	<span class="toggle-slide-slide default"></span>
  	<span class="toggle-slide-slide default"></span>
  </div>
  <div class="toggle-slide goback">
		<span class="toggle-slide goback"></span>
	  <span class="toggle-slide goback"></span>
	  <span class="toggle-slide goback"></span>
	  <span class="toggle-slide goback"></span>
  </div>
</div>
<div class="menu-container">
	<div class="nav-column">
		<ul id="primary-menu">
			<li class="menu-item">Insights</li>
			<li class="menu-item">Company</li>
			<li class="menu-item">Team</li>
			<li class="menu-item">More</li>
		</ul>
	</div>
	<div class="nav-column">
		<ul class="rh-submenus">
			<li class="submenu-item">Team</li>
			<li class="submenu-item">About</li>
			<li class="submenu-item">Careers</li>
		</ul>
	</div>
	<div class="nav-column"></div>
	<div class="menu-panels">
		<div class="panel"></div>
		<div class="panel"></div>
	</div>
</div>